body {
	width: 100vw;
	height: 100vh;
	background-color: black;
}

* {
	font-family: monospace;
	margin: 0;
	border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: white;
	margin: 0.5em;
}

button {
	width: 100%;
	margin-top: 1px;
	margin-bottom: 1px;
}

canvas#renderer {
	width: 50%;
	image-rendering: crisp-edges;
	background-image: url('./background.webp');
	margin-inline: 25%;
}

hr {
	border: 1px white solid;
}

input[type=text] {
	width: 200px;
}

input[type=number] {
	width: 50px;
}

a#saveOutput, img#frame {
	display: none;
}

div:not(.container) {
	border: 2px solid;
	border-color: white;
	margin: 4px;
}

div.container {
	display: grid;
	grid-template-columns: 50vw 50vw;
	grid-template-rows: 100vh;
}

div.editor {
	overflow: scroll;
	scroll-behavior: smooth;
	padding: 12px;
	border-right-width: 1px;
}

div.display {
	overflow: scroll;
	scroll-behavior: smooth;
	padding: 12px;
	border-left-width: 1px;
}

div.version {
	text-align: center;
}